{
  "extends": "react-static/.babelrc",
  "plugins": [
    ["babel-plugin-module-resolver", {
      "alias": {
        "Content": "./content/",
      },
    }],
    "babel-plugin-import-glob",
    "babel-plugin-transform-md-import-to-string",
  ],
}